html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    border-top: solid 10px #000;
    color: #969696;
    font-size: 10pt;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a {
    color: #279FBB;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #26AE91; /*2cc4a4*/
    }

    a:hover {
        color: #29947d;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

footer {
    margin: 20px;
}

*::-moz-selection {
    background-color: lightblue; /*#26AE91*/
}

.navigation {
    float: right;
    padding: 0 0 0 0;
    margin: 0;
    list-style-type: none;
}

 content {
        margin-top: 50px;
    }
